﻿@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	/*font-size: 14px;*/
}
#hides{display: none;}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/*head.css*/
/*页面整形CSS   请勿删除和覆盖   hy*/
#bg {
	width: 100%;
	overflow-x: hidden;
}

.head {
	width: 100%;
	height: 100px;
	background-color: #000000;
	position: absolute;
}
.head .headbackground{
	z-index: -1;
	height: 100px;
}
.head .headL {
	width: 800px;
	height: 100%;
	text-align: center;
	float: left;
	display: inline-block;
}

.head .headL .headtitle{
	text-align: center;
	font-size: 50px;
	color: #f9f9f9;
	padding-top: 28px;
}
.head .headL img.headLogo {
	padding-top: 28px;
}

.head .headR {
	width: 400px;
	height: 100%;
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 120px;
}

.head .headR .p1 {
	padding-top: 30px;
	font-size: 18px;
	color: white;
	display: inline-block;
	cursor: pointer;
}

.head .headR .p2 {
	
}

.head .headR .p2 a {
	font-size: 14px;
	padding-top: 12px;
	display: inline-block;
	color: white;
	cursor: pointer;
}
/*head.html  弹出框关闭*/
.closeOut {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.39);
	position: fixed;
	top: 0px;
	display: none;
}

.closeOut .coDiv {
	width: 20%;
	margin: auto;
	background-color: #fff;
	position: relative;
	top: 30%;
	text-align: center;
}

.closeOut .coDiv .p1 {
	position: relative;
	top: 5px;
	left: 45%;
}

.closeOut .coDiv .p1 span {
	width: 30px;
	height: 30px;
	display: inline-block;
	color: #fff;
	background-color: #1e90ff;
	border-radius: 15px;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
}

.closeOut .coDiv .p2 {
	font-size: 18px;
	margin-top: 20px;
}

.closeOut .coDiv .p3 {
	margin-top: 20px;
}

.closeOut .coDiv .p3 .ok {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #1e90ff;
	line-height: 40px;
	margin-left: 25px;
	margin-right: 25px;
	color: #333;
	font-size: 16px;
	margin-bottom: 65px;
}

.closeOut .coDiv .p3 .no {
	background-color: #1e90ff;
	color: #fff;
}

/*******left页面css*******/
.container {
	/*width: 220px;*/
	height: 100%;
	margin: auto;
	position: absolute;
	/*overflow: hidden;*/
}

.leftsidebar_box {
	width: 220px;
	height: 100%;
	background-color: #f2f2f2;
}

.leftsidebar_box dt {
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding-left: 40px;
}

.leftsidebar_box dd {
	display: none;
	position: relative;
	background-color: white;
	padding-left: 65px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.leftsidebar_box dd a {
	color: #333;
	line-height: 42px;
	width: 100%;
	height: 100%;
	display: inline-block;
	cursor: pointer;
}

.leftsidebar_box dt img.icon1 {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box dt img.icon2 {
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box dt img.icon3 {
	display: none;
	position: absolute;
	top: 20px;
	right: 12px;
}

.leftsidebar_box dt img.icon4 {
	position: absolute;
	top: 20px;
	right: 12px;
}

.leftsidebar_box dd img.icon5 {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.leftsidebar_box dd img.coin11 {
	display: none;
	position: absolute;
	top: 0px;
	left: 40px;
}

.leftsidebar_box dd img.coin22 {
	position: absolute;
	top: 0px;
	left: 40px;
}

.leftsidebar_box dl dd:last-child {
	/*padding-bottom: 10px;*/
}

.leftsidebar_box .line {
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding-left: 40px
}

.leftsidebar_box .line img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box .menu_chioce1 {
	color: #1e90ff;
}

.leftsidebar_box .menu_chioce2 {
	color: #1e90ff;
}
/*left.css end*/