{% extends 'public2.html' %}

{% block title %}Exam{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ url_for('static',filename='css/iconfont.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/test.css') }}" rel="stylesheet" type="text/css">
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color:#fff;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">
							<p class="test_time">
								<b class="alt-1">01:40</b>
							</p>
							<font><input type="button" name="test_jiaojuan" value="submit"></font>
						</div>

							<div class="test_content">
								<div class="test_content_title">
									<h2>Question1</h2>
									<p>
										<span>total 35 questions，total 35 marks</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
                                    <li id="qu_0_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaa（  ）
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_1">


															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_2">


															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_3">


															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_4">


															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

                                    <li id="qu_0_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaa（  ）
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_1">


															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_2">


															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_3">


															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_4">


															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

                                    <li id="qu_0_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaa（  ）
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_1">


															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_2">


															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_3">


															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_4">


															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

                                    <li id="qu_0_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaa（  ）
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_1">


															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_2">


															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_3">


															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">

																<input type="radio" class="radioOrCheck" name="answer1" id="0_answer_1_option_4">


															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

                                    <li>
											<div class="test_content_nr_tt">
												<span>  </span>
											</div>
                                    </li>

								</ul>
							</div>

							<div class="test_content">
								<div class="test_content_title">
									<h2>Question2</h2>
									<p>
										<span>total 35 questions，total 35 marks</span>
                                    </p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>

										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_1">

															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_2">

															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_3">

															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_4">

															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>2</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_1">

															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_2">

															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_3">

															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_4">

															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>3</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_1">

															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_2">

															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_3">

															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_4">

															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>4</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
											</div>

											<div class="test_content_nr_main">
												<ul>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_1">

															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_2">

															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_3">

															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

														<li class="option">


																<input type="checkbox" class="radioOrCheck" name="answer1" id="1_answer_1_option_4">

															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">aaaaaaaaaaaaaaaaaaaaaaaaa</p>
															</label>
														</li>

												</ul>
											</div>
										</li>

                                       <li id="qu_1_0">
											<div class="test_content_nr_tt">
												<span> </span>
											</div>


										</li>



								</ul>
							</div>


                        <div class="test_content">
								<div class="test_content_title">
									<h2>Question3</h2>
									<p>
										<span>total 3 questions，total 60 marks</span>
                                    </p>
								</div>
							</div>

                        <div class="test_content_nr">
								<ul>
                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            <i>1</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
                                        </div>

                                        <div class="test_content_nr_main">
                                            <textarea name="textarea" rows="10" cols="103">hhhhhhhh</textarea>
                                        </div>
                                    </li>

                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            <i>2</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
                                        </div>

                                        <div class="test_content_nr_main">
                                            <textarea name="textarea" rows="10" cols="103">hhhhhhhh</textarea>
                                        </div>
                                    </li>

                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            <i>3</i><span>(1 mark)</span>aaaaaaaaaaaaaaaaaaaaaaaa()
                                        </div>

                                        <div class="test_content_nr_main">
                                            <textarea name="textarea" rows="10" cols="103">hhhhhhhh</textarea>
                                        </div>
                                    </li>
                                        <li id="qu_1_0">
											<div class="test_content_nr_tt">
												<span> </span>
											</div>
                                </ul>
                        </div>

					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1"  style="padding-top: 30px">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont"></i>answer
							</h1>
							<p class="test_time">
								<b class="alt-1">01:40</b>
							</p>
						</div>

							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>Question1</h2>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>

											<li><a href="">1</a></li>

											<li><a href="">2</a></li>

											<li><a href="">3</a></li>

											<li><a href="">4</a></li>

											<li><a href="">5</a></li>

											<li><a href="">6</a></li>

											<li><a href="">7</a></li>

											<li><a href="">8</a></li>

											<li><a href="">9</a></li>

											<li><a href="">10</a></li>

											<li><a href="">11</a></li>

											<li><a href="">12</a></li>

											<li><a href="">13</a></li>

											<li><a href="">14</a></li>

											<li><a href="">15</a></li>

											<li><a href="">16</a></li>

											<li><a href="">17</a></li>

											<li><a href="">18</a></li>

											<li><a href="">19</a></li>

											<li><a href="">20</a></li>

											<li><a href="">21</a></li>

											<li><a href="">22</a></li>

											<li><a href="">23</a></li>

											<li><a href="">24</a></li>

											<li><a href="">25</a></li>

											<li><a href="">26</a></li>

											<li><a href="">27</a></li>

											<li><a href="">28</a></li>

											<li><a href="">29</a></li>

											<li><a href="">30</a></li>

											<li><a href="">31</a></li>

											<li><a href="">32</a></li>

											<li><a href="">33</a></li>

											<li><a href="">34</a></li>

											<li><a href="">35</a></li>

									</ul>
								</div>
							</div>

							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>Question2</h2>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>

											<li><a href="">1</a></li>

											<li><a href="">2</a></li>

											<li><a href="">3</a></li>

											<li><a href="">4</a></li>

											<li><a href="">5</a></li>

											<li><a href="">6</a></li>

											<li><a href="">7</a></li>

											<li><a href="">8</a></li>

											<li><a href="">9</a></li>

											<li><a href="">10</a></li>

											<li><a href="">11</a></li>

											<li><a href="">12</a></li>

											<li><a href="">13</a></li>

											<li><a href="">14</a></li>


									</ul>
								</div>
							</div>

                        <div class="rt_content">
								<div class="rt_content_tt">
									<h2>Question3</h2>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>

											<li><a href="">1</a></li>

											<li><a href="">2</a></li>

											<li><a href="">3</a></li>

									</ul>
								</div>
							</div>

					</div>

				</div>
			</div>
		</div>
		<!--nr end-->

	</div>

	<script src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.easy-pie-chart.js') }}"></script>
	<!--时间js-->
	<script src="{{ url_for('static',filename='js/jquery.countdown.js') }}"></script>

{#	<script>#}
{#		window.jQuery(function($) {#}
{#			"use strict";#}
{##}
{#			$('time').countDown({#}
{#				with_separators : false#}
{#			});#}
{#			$('.alt-1').countDown({#}
{#				css_class : 'countdown-alt-1'#}
{#			});#}
{#			$('.alt-2').countDown({#}
{#				css_class : 'countdown-alt-2'#}
{#			});#}
{##}
{#		});#}
{##}
{#	</script>#}

{% endblock %}

{% block script %}

{% endblock %}