{% extends 'public3.html' %}

{% block title %}Examadd{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='css/test.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block main %}

    <div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">

							<font><input type="button" name="test_jiaojuan" value="submit"></font>
						</div>




                        <div class="test_content">
								<div class="test_content_title">
									<h2>Add new questions</h2>
								</div>
							</div>

                        <div class="test_content_nr">
								<ul>
                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            Please input the question:
                                            <input type="text" class="input3" />
                                            Please input the mark:
                                            <input type="text" class="input3" />
                                        </div>


                                        <div class="test_content_nr_main">
                                            A:<input type="text" class="input3" />
                                        </div>

                                        <div class="test_content_nr_main">
                                            B:<input type="text" class="input3" />
                                        </div>

                                        <div class="test_content_nr_main">
                                            C:<input type="text" class="input3" />
                                        </div>

                                        <div class="test_content_nr_main">
                                            D:<input type="text" class="input3" />
                                        </div>
                                    </li>

                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            Please input the question:
                                            <textarea name="textarea" rows="10" cols="103">hhhhhhhh</textarea>
                                            Please input the mark:
                                            <input type="text" class="input3" />
                                        </div>



                                    </li>


                                    <li id="qu_1_0">
                                        <div class="test_content_nr_tt">
                                            <span> </span>
                                        </div>
                                    </li>
                                </ul>
                        </div>

					</form>
				</div>

			</div>

		</div>
		<!--nr end-->

	</div>

	<script src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}"></script>



{% endblock %}

{% block script %}

{% endblock %}