<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/public.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/page.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/public.js') }}"></script>
</head>


<body>

<!-- 登录body -->
<form action="" method="post">
    <div class="logDiv">
        <img class="logBanner" src="{{ url_for('static', filename= 'img/backgroundpic1.jpg') }}"/>
        <div class="logGet">
            <!-- 头部提示信息 -->
            <div class="logD logDtip">
                <p class="p1">Login</p>
            </div>
            <!-- 输入框 -->
            <div class="lgD">
                <img class="img1" src="{{ url_for('static', filename= 'img/logName.png') }}"/><input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="lgD">
                <img class="img1" src="{{ url_for('static', filename= 'img/logPwd.png') }}"/><input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="logC">
                <button>Login</button>
            </div>
        </div>
    </div>
</form>
<!-- 登录body  end -->


</body>
</html>