{% extends 'public2.html' %}

{% block title %}Module{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css.css') }}" />
{% endblock %}

{% block main %}
    <div id="pageAll">


		<div class="page">
			<!-- user页面样式 -->
			<div class="connoisseur">
{#				<div class="conform">#}
{#					<form>#}
{#						<div class="cfD">#}
{#							<input class="userinput" type="text" placeholder="username" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;#}
{#							<input class="userinput vpr" type="text" placeholder="password" />#}
{#							<button class="userbtn">submit</button>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
                        <caption align="left" style="font-size: 30px">Module</caption>
						<tr>
							<td width="66px" class="tdColor tdC">ID</td>
							<td width="435px" class="tdColor">Module ID</td>
							<td width="400px" class="tdColor">Module Name</td>
							<td width="630px" class="tdColor">Tutor</td>
							<td width="400px" class="tdColor">Credit Value</td>
							<td width="630px" class="tdColor">Exam</td>
							<td width="630px" class="tdColor">Exam type</td>
							<td width="630px" class="tdColor">Exam duration</td>
							<td width="630px" class="tdColor">% of formal assessment(exam)</td>
{#							<td width="130px" class="tdColor">Edit</td>#}
						</tr>
						<tr height="40px">
							<td>1</td>
							<td>COMP0001</td>
							<td>Scientific Computation</td>
							<td>Jonathan Joestar</td>
							<td>15</td>
							<td>exam</td>
							<td>open book exam</td>
							<td>2 hr 00 mins</td>
							<td>70</td>
{#							<td><a href=""><img class="operation" src="{{ url_for('static',filename='img/update.png') }}"></a>#}
{#                                <img class="operation delban" src="{{ url_for('static',filename='img/delete.png') }}">#}
{#                            </td>#}
						</tr>
						<tr height="40px">
							<td>2</td>
							<td>COMP0004</td>
							<td>Cloud Computing</td>
							<td>Dio Brando</td>
							<td>15</td>
							<td>exam</td>
							<td>open book exam</td>
							<td>2 hr 00 mins</td>
							<td>60</td>
{#							<td><a href=""><img class="operation" src="{{ url_for('static',filename='img/update.png') }}"></a>#}
{#                                <img class="operation delban" src="{{ url_for('static',filename='img/delete.png') }}">#}
{#                            </td>#}
						</tr>
						<tr height="40px">
							<td>3</td>
							<td>COMP0003</td>
							<td>Big Data Systems</td>
							<td>William Anthonio Zeppeli</td>
							<td>15</td>
							<td>exam</td>
							<td>open book exam</td>
							<td>2 hr 00 mins</td>
							<td>60</td>
{#							<td><a href=""><img class="operation" src="{{ url_for('static',filename='img/update.png') }}"></a>#}
{#                                <img class="operation delban" src="{{ url_for('static',filename='img/delete.png') }}">#}
{#                            </td>#}
						</tr>
					</table>
{#					<div class="paging">此处是分页</div>#}
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="{{ url_for('static',filename='img/shanchu.png') }}" /></a>
			</div>
			<p class="delP1">Do you want to delete this information？</p>
			<p class="delP2">
				<a href="#" class="ok yes">YES</a><a class="ok no">NO</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
{% endblock %}

{% block script %}
<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
{% endblock %}