<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-Online Marking System</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/public.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/public.js') }}"></script>

</head>
<body>
<!-- top -->
	<div class="head">
{#        <img class="headbackground" src="{{ url_for('static',filename='img/backgroundpic1.jpg') }}"/>#}
		<div class="headL">

            <div class="headtitle">Online Marking System</div>
		</div>
		<div class="headR">
			<span style="color:#FFF;font-size: 20px">welcome：student</span>
		</div>
	</div>

<!-- left -->

	<div class="container" id="bg" style="float: left;overflow: hidden">
        <div style="height: 100px;width: 100%"></div>
		<div class="leftsidebar_box">
			<a href="{{ url_for('index') }}"><div class="line">
					<img src="{{ url_for('static',filename='img/coin01.png') }}" /> Home
				</div></a>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="{{ url_for('static',filename='img/coin03.png') }}" /><img class="icon2"
						src="{{ url_for('static',filename='img/coin04.png') }}" /> Exam<img class="icon3"
						src="{{ url_for('static',filename='img/coin19.png') }}" /><img class="icon4"
						src="{{ url_for('static',filename='img/coin20.png') }}" />
				</dt>
				<dd>
					<img class="coin11" src="{{ url_for('static',filename='img/coin111.png') }}" /><img class="coin22"
						src="{{ url_for('static',filename='img/coin222.png') }}" /><a class="cks" href="{{ url_for('exam') }}"
						target="main">Exam</a><img class="icon5" src="{{ url_for('static',filename='img/coin21.png') }}" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="{{ url_for('static',filename='img/coin07.png') }}" /><img class="icon2"
						src="{{ url_for('static',filename='img/coin08.png') }}" /> Student<img class="icon3"
						src="{{ url_for('static',filename='img/coin19.png') }}" /><img class="icon4"
						src="{{ url_for('static',filename='img/coin20.png') }}" />
				</dt>
				<dd>
					<img class="coin11" src="{{ url_for('static',filename='img/coin111.png') }}" /><img class="coin22"
						src="{{ url_for('static',filename='img/coin222.png') }}" /><a href="{{ url_for('student') }}" target="main"
						class="cks">Student</a><img class="icon5" src="{{ url_for('static',filename='img/coin21.png') }}" />
				</dd>
			</dl>

			<dl class="system_log">
				<dt>
					<img class="icon1" src="{{ url_for('static',filename='img/coin11.png') }}" /><img class="icon2"
						src="{{ url_for('static',filename='img/coin12.png') }}" /> Modules<img class="icon3"
						src="{{ url_for('static',filename='img/coin19.png') }}" /><img class="icon4"
						src="{{ url_for('static',filename='img/coin20.png') }}" />
				</dt>
				<dd>
					<img class="coin11" src="{{ url_for('static',filename='img/coin111.png') }}" /><img class="coin22"
						src="{{ url_for('static',filename='img/coin222.png') }}" /><a class="cks" href="{{ url_for('module') }}" target="main">Module</a><img class="icon5" src="{{ url_for('static',filename='img/coin21.png') }}" />
				</dd>
			</dl>


			<dl class="system_log">
				<dt>
					<img class="icon1" src="{{ url_for('static',filename='img/coinL1.png') }}" /><img class="icon2"
						src="{{ url_for('static',filename='img/coinL2.png') }}" /> System<img class="icon3"
						src="{{ url_for('static',filename='img/coin19.png') }}" /><img class="icon4"
						src="{{ url_for('static',filename='img/coin20.png') }}" />
				</dt>
				<dd>
					<img class="coin11" src="{{ url_for('static',filename='img/coin111.png') }}" /><img class="coin22"
						src="{{ url_for('static',filename='img/coin222.png') }}" /><a href="{{ url_for('login') }}"
						target="main" class="cks">Exit</a><img class="icon5"
						src="{{ url_for('static',filename='img/coin21.png') }}" />
				</dd>
			</dl>

		</div>

	</div>

<div  style="float: right;width:85%;">
    <div style="height: 100px;width: 100%"></div>
{% block main %}{% endblock%}
</div>
</body>
{% block script %}{% endblock %}
</html>