{% extends 'public3.html' %}

{% block title %}Studentadd{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css.css') }}" />
{% endblock %}

{% block main %}
 <div class="page ">
			<!-- 会员注册页面样式 -->
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>New Student</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						Student ID  ：<input type="text" class="input3" />
					</div>

					<div class="bbD">
						Student Name：<input type="text" class="input3" />
					</div>


					<div class="bbD">
						Degree      ：<input type="text" class="input3" />
					</div>

					<div class="bbD">
						Program     ：<input type="text" class="input3" />
					</div>

					<div class="bbD">
						E-mail      ：<input type="text" class="input3" />
					</div>

					<div class="bbD">
						<p class="bbDP">
							<button class="btn_ok btn_yes" href="#">submit</button>
							<a class="btn_ok btn_no" href="#">cancel</a>
						</p>
					</div>
				</div>
			</div>

			<!-- 会员注册页面样式end -->
		</div>
{% endblock %}

{% block script %}

{% endblock %}